.headerContainer{
    display: flex;
    justify-content: center;
    height: 250px;
    background-color: orange;
}

.headerTitle{
    font-size: 60px;
    color: white;
    font-family: 'Roboto', 'Arial', sans-serif;
    text-align: left;
}

.createPostButton {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ffc13b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}